* {
  box-sizing: border-box;
  background-color: #eee8ce;
  color: #a19a7c;
}

h2 {
  color: hsl(49, 16.4%, 35.9%);
}

/* not selector,  */
/* p:not(.p3) {
  background-color: #CEDFED;
} */

/* these can be combined as well */

p:not(.p3):not(.p2) {
  background-color: #CEDFED;
}

/*  The * will find any element with those characters "fla" in this case */
 /* The ^ will find any element that starts with certain characters */
 /* The $ will find the elements that end with the certain character */
input[data-margin*="fla"] {
  margin: 50px;
}